{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always"
}
